<header class="navbar">
  <div class="container navbar-content">
    <!-- Logo -->
    <a class="navbar-brand" (click)="navigateToSection('hero')">
      <span class="brand-title"> AROMA </span> <span class="brand-subtitle"> INSUPERABLE </span>
    </a>

    <!-- Actions -->
    <div class="navbar-actions">
      <button class="action-btn" aria-label="Carrito">
        <i class="ri-shopping-cart-2-line"></i>
      </button>

      <button class="action-btn" aria-label="Mi cuenta">
        <i class="ri-user-line"></i>
      </button>
    </div>
  </div>
</header>
