<aside class="filters">
  <div class="filters-header" [class.open]="mostrarFiltros" (click)="toggleFiltros()">
    <div class="filters-title">
      <i class="ri-equalizer-line filter-icon"></i>
      <span>Filtros</span>
    </div>

    <i class="ri-arrow-down-s-line" [class.rotate]="mostrarFiltros"></i>
  </div>

  <hr class="desktop-divider" />

  <div class="filters-content" [class.open]="mostrarFiltros || !esMovil()">
    <!-- Categoría -->
    <div class="filter-group cat">
      <div class="filter-title">
        <span>Categoría</span>
      </div>

      <label>
        <input
          type="checkbox"
          [checked]="filtros.categorias.includes('Hombre')"
          (change)="toggleCategoria('Hombre')"
        />
        Hombre
      </label>

      <label>
        <input
          type="checkbox"
          [checked]="filtros.categorias.includes('Mujer')"
          (change)="toggleCategoria('Mujer')"
        />
        Mujer
      </label>

      <label>
        <input
          type="checkbox"
          [checked]="filtros.categorias.includes('Unisex')"
          (change)="toggleCategoria('Unisex')"
        />
        Unisex
      </label>

      <label>
        <input
          type="checkbox"
          [checked]="filtros.categorias.includes('Combo')"
          (change)="toggleCategoria('Combo')"
        />
        Combo
      </label>
    </div>

    <hr />

    <!-- Marcas -->
    <div class="filter-group">
      <div class="filter-title">
        <span>Marcas</span>
      </div>

      <label>
        <input
          type="checkbox"
          [checked]="filtros.marcas.includes('Jean Paul Gaultier')"
          (change)="toggleMarca('Jean Paul Gaultier')"
        />
        Jean Paul Gaultier
      </label>

      <label>
        <input
          type="checkbox"
          [checked]="filtros.marcas.includes('Giorgio Armani')"
          (change)="toggleMarca('Giorgio Armani')"
        />
        Giorgio Armani
      </label>

      <label>
        <input
          type="checkbox"
          [checked]="filtros.marcas.includes('Armaf')"
          (change)="toggleMarca('Armaf')"
        />
        Armaf
      </label>

      <label>
        <input
          type="checkbox"
          [checked]="filtros.marcas.includes('Dior')"
          (change)="toggleMarca('Dior')"
        />
        Dior
      </label>

      <label>
        <input
          type="checkbox"
          [checked]="filtros.marcas.includes('Creed')"
          (change)="toggleMarca('Creed')"
        />
        Creed
      </label>
    </div>

    <hr />

    <!-- Precio -->
    <div class="filter-group">
      <h3>Rango de precio</h3>

      <div class="price-range">
        <input
          type="text"
          currencyInput
          [(ngModel)]="filtros.precio.minimo"
          (blur)="validarPrecio('minimo')"
          (keydown.enter)="quitarFoco($event)"
          [class.error]="precioMinError"
        />

        <input
          type="text"
          currencyInput
          [(ngModel)]="filtros.precio.maximo"
          (blur)="validarPrecio('maximo')"
          (keydown.enter)="quitarFoco($event)"
          [class.error]="precioMaxError"
        />
      </div>

      <small class="mensaje-error" *ngIf="precioMinError"> El mínimo permitido es $75.000 </small>

      <small class="mensaje-error" *ngIf="precioMaxError"> El máximo permitido es $500.000 </small>

      <small class="mensaje-error" *ngIf="precioRangoError">
        El precio mínimo no puede ser mayor al máximo.
      </small>

      <div class="price-info">
        <p>Min. $75.000</p>
        <p class="max">Max. $500.000</p>
      </div>
    </div>

    <button class="clear-btn" (click)="limpiarFiltros()">Limpiar filtros</button>
  </div>
</aside>
